@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 20px 0 10px;
	text-align: center;
}

#p1 {
	text-align: center;
	font-size: 15px;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}


a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 25px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #3CB371;
	background-color: #3CB371;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	align-items: center;
	justify-content: center;
	padding: 10px 50px;
	height: 100%;
	width: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	width: 80%;
	margin: 23px 0 0 0;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	width: 600px;
	max-width: 100%;
	min-height: 450px;
	margin: auto;
	m
}

.form-container {
	position: absolute;
	top: 0;
	height: 80%;
	align-items: center;
}
.sign-in-container {
	left: 0;
	width: 100%;
	z-index: 2;
}
.sign-up-container {
	left: 0;
	width: 100%;
	z-index: 2;
}
.otp-container {
	left: 0;
	width: 100%;
	z-index: 2;
}
.email-container









